.section-max-width {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.slider-controls {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    .slider-btn {
        flex-grow: 2;
        flex-shrink: 0;

        i {
            &::before {
                font-weight: 900 !important;
            }
        }
    }

    .slider-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        flex-shrink: 2;

        .swiper-pagination-bullet {
            width: 1.8rem;
            height: 7px;
            display: inline-block;
            border-radius: 4px;
            background: $color-primary;
            opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
            transition: 450ms ease all;

            &-active {
                background-color: $color-primary;
                opacity: 1;
            }
        }
    }
}

.line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.line-clamp-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.line-clamp-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.wrapper-section {
    position: relative;
}

.max-w-1920 {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.section-content {

    h1,
    h2,
    h3,
    h4,
    h5 {
        &:not(:first-child) {
            margin-top: 2rem;
        }

        margin-bottom: .35rem;
    }

    p {
        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    blockquote {
        border-left: 6px solid $color-primary;
        padding-left: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        background-color: #f7f7f7;
        font-style: italic;
        color: $color-primary;
        font-weight: 500;
        @include font-size(18px);
    }

    ul {
        padding-left: 0;
        list-style-type: disc;
        padding-left: 1.3rem;

        &:not(.no-style) {
            li {
                margin-bottom: 0.5rem;

                // &::before {
                //     content: "";
                //     display: inline-flex;
                //     justify-content: center;
                //     align-items: center;
                //     width: 12px !important;
                //     height: 12px !important;
                //     background-size: contain;
                //     background-position: left;
                //     background-image: url("../img/list-mark.png");
                //     margin-right: 0.35rem;
                //     position: relative;
                //     top: -5px;
                // }
            }
        }
    }

    table {
        --bs-table-bg: transparent;
        --bs-table-accent-bg: transparent;
        --bs-table-striped-color: #212529;
        --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
        --bs-table-active-color: #212529;
        --bs-table-active-bg: rgba(0, 0, 0, 0.1);
        --bs-table-hover-color: #212529;
        --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
        width: 100%;
        margin-bottom: 1rem;
        color: #212529;
        vertical-align: top;
        border-color: #dee2e6;
        font-size: $text-xs;

        thead {
            vertical-align: bottom;

            th {
                border: 1px solid #cdcdcd;
            }
        }

        > :not(caption)>*>* {
            padding: 0.5rem 0.5rem;
            background-color: var(--bs-table-bg);
            border-bottom-width: 1px;
            vertical-align: middle;
            text-align: center;
            box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
        }

        >* {
            border: 2px solid #cdcdcd;
        }

        td {
            a {
                padding: 0.5rem;
            }
        }

        tbody>tr:nth-of-type(odd)>* {
            --bs-table-accent-bg: var(--bs-table-striped-bg);
            color: var(--bs-table-striped-color);
        }

        >tbody>tr:hover>*:not([rowspan]) {
            --bs-table-accent-bg: var(--bs-table-hover-bg);
            color: var(--bs-table-hover-color);
            border-color: $color-primary !important;
            background-color: rgba($color: $color-primary, $alpha: 0.1);
        }

        tr {
            border-color: transparent;
        }

        th {
            font-weight: bold;
        }
    }

    &-md {
        @include font-size(18px);
    }

    &-lg {
        @include font-size(20px);
    }

    &-xl {
        @include font-size(22px);
    }

    &-heading-semibold {

        h1,
        h2,
        h3,
        h4,
        h5 {
            font-weight: 500;
        }
    }

    &-heading-bold {

        h1,
        h2,
        h3,
        h4,
        h5 {
            font-weight: bold;
        }
    }

    &-link-blue {
        a {
            color: rgb(21, 122, 217);
        }
    }
}